<div class="col-lg-offset-1 col-lg-10">
<h2>
    <strong>
    <% if (currentPath !== '') { %>
    <a href="/<%= projectName %>"><%= projectName %></a>
    <% } else {%>
    <%= projectName %>
    <% }%>
    </strong>

    <% currentPath.split('/').forEach(function(segment, index) { %>
        <% if (index < (currentPath.split('/').length - 1)) { %>
            <a href="/<%= projectName + currentPath.split('/').slice(0,index + 1).join('/') %>"><%= segment %></a> /
        <% } else {%>
            <strong><%= segment %></strong>
        <% } %>
    <% }) %>
</h2>
</div>