<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <title>Diagrams: <%= dir %> - <%= file %></title>
    <script type="text/javascript" src="/vendors/lodash/lodash.js"></script>
    <script type="text/javascript" src="/vendors/d3/d3.js"></script>
    <script type="text/javascript" src="/vendors/diagrams-collections/diagrams.js"></script>
    <link rel="stylesheet" type="text/css" href="/vendors/diagrams-collections/diagrams.css">
    <%- include partials/_common_dependencies.ejs %>
    
    <% if (sharedExists === true) { %>
        <script type="text/javascript" src="/projects/<%= dir %>/shared.js"></script>
    <% } %>
    <script type="text/javascript" src="/projects/<%= dir + '/' + file%>.js"></script>
</head>
<body>
<%- include partials/_header.ejs %>
<div class="row">
<h2 class="col-lg-10 col-lg-offset-1"><a href="/<%= dir %>"><%= dir %></a> - <strong><%=file%></strong></h2>
</div>
</body>
</html>