<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <title>Diagrams: <%= projectName %> - <%= currentPath %></title>
    
    <%- include partials/_common_dependencies.ejs %>
    
    <script type="text/javascript" src="/vendors/lodash/lodash.js"></script>
    <script type="text/javascript" src="/vendors/rxjs/dist/rx.all.min.js"></script>
    <script type="text/javascript" src="/vendors/d3/d3.js"></script>
    <script type="text/javascript" src="/vendors/highlightjs/highlight.pack.js"></script>
    <script type="text/javascript" src="/vendors/diagrams-collections/dist/<%= diagramsFile %>.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/vendors/highlightjs/styles/solarized_light.css">
    <link rel="stylesheet" type="text/css" href="/vendors/diagrams-collections/dist/diagrams.css">
    
    <script type="text/javascript" src="/assets/js/diagram.js"></script>
    <% if (sharedExists === true) { %>
        <script type="text/javascript" src="/projects/<%= projectName %>/shared.js"></script>
    <% } %>
    <script type="text/javascript" src="/projects/<%= projectName %><%= currentPath %>.js"></script>
</head>
<body>
    <%- include partials/_header.ejs %>
    <div class="row">
    <%- include partials/_breadcrumb.ejs %>
    <h3 class="col-lg-3"><a id="diagram-configuration-trigger" href="#"></a></h3>
    </div>
    <div class="row" id="diagram-configuration-panel">
    </div>
</body>
</html>