<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <%- include partials/_common_dependencies.ejs %>
</head>
<body>
<%- include partials/_header.ejs %>
<div class="col-lg-offset-1 col-lg-10">
<h1>
    <strong>
        <% if (currentPath) { %>
            <a href="/<%= projectName %>"><%= projectName %></a> <%= currentPath %>
        <% } else { %>
            <%= projectName %>
        <% } %>
    </strong> sketches:
</h1>
<ul>
    <% items.forEach(function(item){ %>
        <% if (item.isDiagram === true) { %>
        <li><a href="<%= '/' + projectName + currentPath + '/' + item.name %>"><%= item.name %></a></li>
        <% } else { %>
        <li><strong><a href="<%= '/' + projectName  +  currentPath + '/' + item.name %>"><%= item.name %>/</a></strong></li>
        <% } %>
    <% }); %>
</ul>
</div>
<style type="text/css">
    ul li {
        font-size: 30px;
    }
</style>
</body>
</html>